<!DOCTYPE html>
<html lang="en">
  <%- include('parts/head', {}); %>

  <body>
    <div class="wrapper mt-lg-5">
      <!--//sidebar-wrapper-->
      <%- include('parts/sidebar', {}); %>
      <div class="main-wrapper">
        <!-- Profile Summary section -->
        <%- include('parts/career', {}); %>
        <!-- Profile Summary section  -->

        <!-- Experiences Section -->
        <%- include('parts/experiences', {}); %>
        <!-- Experiences Section -->

        <!-- Projects Section -->
        <%- include('parts/projects', {}); %>
        <!-- Projects Section -->

        <!-- Skills Section -->
        <%- include('parts/skills', {}); %>
        <!-- Skills Section -->

        <!--//skills-section-->
      </div>
      <!--//main-body-->
    </div>

    <!-- Footer Section -->
    <%- include('parts/footer', {}); %>
    <!-- Footer Section -->
  </body>
</html>
